

:root {
    --primary-color: #3498db;
    --secondary-color: #f6f6f6;
    --background-color: #f6f3ed;
    --secondary-bg-color: #e8e7e0;
    --text-color: #1c1c1c;
    --text-color-alt: #696969;
    --border-color: #1c1c1c;
    --border-color-light: #dcdcdc;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
.i-click{
    color: var(--text-color);
}

.info-box .list-group-item {
    color: var(--text-color);
    background-color: transparent;
}

.terminal {
    color: #fff;
    background-color: transparent;
    border-color: var(--border-color);
}

.tech-stack {
    color: var(--text-color);
    background-color: transparent;
    border-color: var(--border-color);
}

.tech-stack .card-body {
    background-color: transparent;
}

.tech-stack .list-group-item {
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
}

.about-group .card {
    color: var(--text-color);
    background-color: transparent;
    border-color: var(--border-color);
}

.about-group .card-body {
    background-color: transparent;
}

.info-link {
    color: var(--text-color);
}


.bottom{
    border-color: var(--border-color-light);
 }
