@font-face {
    font-family: 'Roboto_Mono';
    src: url('../res/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    font-family: 'Roboto_Mono', sans-serif;
    font-size: small;
}

.i-click {
    border-width: 0px;
}

.usrimg {
    width: 12em;
}

.info-box .list-group-item {
    min-width: 24em;
    border-width: 0px;
    font-size: 0.88em;
}

.tech-stack {
    max-width: 54em;
}

.tech-stack .card-body h6 {
    font-size: 1em;
    font-weight: normal;
}

.tech-stack .card-body p {
    font-size: 0.9em;
}

.tech-stack .list-group-item {
    font-size: 0.8em;
}

.tech-stack .list-group-item i {
    margin-top: 6px;
}

.cv-data{
    width: 500px;
}

.cv-data-item{
    background-color: transparent;
    border: none;
}

.about-group{
    max-width: 54em;
}

.about-group .card{
   border: none;
}

.about-group .card-body h5 {
    font-size: 1.2em;
    font-weight: normal;
}

.about-group .card-body h6 {
    font-size: 1em;
    font-weight: normal;
}

.about-group .card-body p {
    font-size: 0.9em;
    text-align: justify;
}

.about-group .list-group-item {
    font-size: 0.8em;
}

.about-group.list-group-item i {
    margin-top: 6px;
}

.bottom{
    border-width: 0px;
    height: 7em;
    font-size: 0.2em;
}

.footer {
    display: none;
    position: static; 
    bottom: 0;
    width: 100%;
    height: 60px; 
}

@media (max-width: 768px) { 
    .d-flex {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }

    .about-group{
        width: 75%;
    }

    .usrimg {
        width: 10em;
    }    

    .info-box, .chart {
        text-align: center;
        width: 100%; 
    }

    .tech-stack, .about-group{
        width: 75%;
    }
}