:root {
    --primary-color: #3498db;
    --secondary-color: #3e3e42	;
    --background-color: #1e1e1e;
    --secondary-bg-color: #2d2d30;
    --text-color: #f1f1f1;
    --border-color: #f1f1f182;
}
/* https://www.color-hex.com/color-palette/98179 */

@font-face {
    font-family: 'Roboto_Mono';
    src: url('../res/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
}


body {
    background-color: var(--background-color);
    font-family: 'Roboto_Mono', sans-serif;
    font-size: small;

}

.transparent {
    background-color: transparent;
}

.tcolor{
    color: var(--text-color);
}

.blurred-text-shadow {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 
                 0 0 10px rgba(0, 0, 0, 0.5), 
                 0 0 15px rgba(0, 0, 0, 0.5), 
                 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 2em;
}

.blurred-text-filter {
    filter: blur(5px);
    font-size: 2em;
    color: black;
}

.usrimg{
    width: 10em;
}

.cctvimg{
    width: 7em;
}

.tech-stack {
    border-color:  var(--border-color);
    border-width: 1px;
    background-color: transparent;
    color: white;
}

.tech-stack .card-header {
    background-color: transparent;
    border-color:  var(--border-color);
}

.tech-stack .card-body {
    background-color:  var( --secondary-bg-color);
}

.tech-stack .list-group-item {
    color: white;
    border-width: 1px;
    background-color:  var( --secondary-bg-color);
}

.tech-stack .titel-ts {
    color: var(--text-color);;
    border-width: 1px;
    background-color:  var( --secondary-bg-color);
}